<ion-view view-title="Login">
    <ion-content class="padding" ng-init="getAllProductos()">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>

            <button class="button button-positive">
                Sartu
            </button>
            <a href="#/tab/registro">Registratu zaitez</a>
        </div>
    </ion-content>
</ion-view>
