<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
        <ion-header-bar class="bar-positive">
            <div class="buttons">
                <!--para hacer delete  ng-click="data.showDelete = !data.showDelete; data.showReorder = false"-->
                <button class="button button-icon icon ion-navicon-round" ng-click="toggleLeft();data.showReorder = false"></button>
            </div>
            <h1 class="title">Ionic opciones</h1>
            <div class="buttons">
                <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
                    Ordenar
                </button>
            </div>
        </ion-header-bar>
        <ion-content>


            <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->

            <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="producto in productos" producto="poducto" class="item-remove-animate">
                    <button class="button button-clear button-dark" ng-click="show(producto)">{{ producto.name }}</button>

                    <ion-reorder-button class="ion-navicon" on-reorder="moveItem(producto, $fromIndex, $toIndex)"></ion-reorder-button>
                </ion-item>

            </ion-list>
        </ion-content>

    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-list>
            <ion-item>Home</ion-item>
        </ion-list>
    </ion-side-menu>

    <!-- Right menu -->
    <ion-side-menu side="right">
    </ion-side-menu>
</ion-side-menus>
