<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">


    <title></title>


</head>

<body>
    <ion-view view-title="Registro">
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="pon tu email">
                </label>
                <button class="button button-positive">
                    hau proba bat da
                </button>
            </div>
        </ion-content>
    </ion-view>
</body>

</html>
