<ion-header-bar class="bar-positive">
    <h1 class="title">Valoraciones</h1>
</ion-header-bar>

<ion-content>


    <div class="card" ng-repeat="valoracion in valoraciones">
    	<div class="item item-divider row">
    		<span class="col">Usuario {{valoracion.userid}}</span>
    		<span class="col">Comercio: {{valoracion.storeid}}</span>
    		<span class="col">Puntuación: {{valoracion.stars}}</span>
    	</div>
        <div class="item item-text-wrap">
            <p> {{valoracion.comment}} </p>
        </div>
    </div>

   
</ion-content>
