body {

	font-size: 14pt;
	height:100%;
	}

.wrapper {

	background-color:rgba(255, 0, 0, 0);
}

body .header {

	background-color:#FF0040;

}

.fuente {

	color:#000;
}

.features {

	font-size: 3em;
}

.footer {

	
	color:#fff;
	padding:20px 0;
	margin-top:20px;
	background-color: #FF0040;
}

.content.container {

	height:100%;
}

.content .container .botones {

	background-color:#DF013A;
	font-size:1.25em;
}



.content .container .botones:hover {

	background-color:#DF013A;
	font-size:1.25em;
	border: 4px solid #fff;
}