body{
  cursor: url('http://ionicframework.com/img/finger.png'), auto;

}
.list-right-editing .item-right-editable .item-content {
transform: translate3d(0px, 0, 0);
transform: translate3d(0px, 0, 0);
}
